<!-- Section Services -->
<section id="services" class="flex-container center">
  <div class="services-container">
    <article id="service_1" class="services-card">
      <div class="card-header">
        <span class="service-card-logo ico-browser"></span>
        <h2>Web Design</h2>
      </div>
      <div class="card-content">
        <p>Lorem Ipsum espectat non habiliti prescum. Priest gravita et norma quantificatum neat.</p>
        <a href="#">Learn more</a>
      </div>
    </article>
    <article id="service_2" class="services-card">
      <div class="card-header">
        <span class="service-card-logo ico-iphone"></span>
        <h2>Mobile Design</h2>
      </div>
      <div class="card-content">
        <p>Lorem Ipsum espectat non habiliti prescum. Priest gravita et norma quantificatum neat.</p>
        <a href="#">Learn more</a>
      </div>
    </article>
    <article id="service_3" class="services-card">
      <div class="card-header">
        <span class="service-card-logo ico-camera"></span>
        <h2>Photography</h2>
      </div>
      <div class="card-content">
        <p>Lorem Ipsum espectat non habiliti prescum. Priest gravita et norma quantificatum neat.</p>
        <a href="#">Learn more</a>
      </div>
    </article>
  </div>
</section>
