{% extends 'home_page/admin/layout_admin.html.twig' %}

{% block title %}Editer HomePage{% endblock %}

{% block content %}

    {{ include('home_page/admin/form/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-dark btn-md" href="{{ path('home_page_index') }}"><i class="fas fa-home"></i>  Site</a>

{% endblock %}
