{% extends 'home_page/admin/layout_admin.html.twig' %}

{% block title %}{{ parent() }}
  Nouvelle HomePage
{% endblock %}

{% block content %}
  <h1>Créer une nouvelle HomePage</h1>

  {{ include('home_page/admin/_form.html.twig') }}

  <a href="{{ path('home_page_index_admin') }}">Retour à l'index</a>
{% endblock %}
