<!-- Header -->
<section id="header" class="header-container">
  <header>
    {% if homepage != null %}
      {% if homepage.menu != false %}
        {{ include('modules/menu/_navbar_main.html.twig') }}
      {% endif %}
    {% endif %}
    <!-- Slider -->
    <section id="header-slider" class="header-slider">
      <div id="header-slider--slide_1">
        <h2 class="ft-white header-slider-title">Holla.</h2>
        <p class="ft-white">I'm
          <span class="bold">John Doe</span>
          a Philippines-based
          <span class="bold">web</span>
          &
          <span class="bold">graphic</span>
          designer who creates clean and modern design for the world of web.</p>
        <a href="#" class="btn btn-black bold">View my work</a>
      </div>
    </section>
  </header>
</section>
