<div class="slider">
  <!-- slides -->
  <div class="slider__slides">
    <div class="slide s--active">
      <div class="slide__inner">
        <div class="slide__content">
          <h2 class="ft-white header-slider-title slide__heading">Holla.</h2>
          <p class="ft-white slide__text">I'm
            <span class="bold">John Doe</span>
            a Philippines-based
            <span class="bold">web</span>
            &
            <span class="bold">graphic</span>
            designer who creates clean and modern design for the world of web.
          </p>
          <a href="#" class="btn btn-black bold slide__text">View my work</a>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__inner">
        <div class="slide__content">
          <h2 class="ft-white header-slider-title slide__heading">Holla.</h2>
          <p class="ft-white slide__text">I'm
            <span class="bold">John Doe</span>
            a Philippines-based
            <span class="bold">web</span>
            &
            <span class="bold">graphic</span>
            designer who creates clean and modern design for the world of web.
          </p>
          <a href="#" class="btn btn-black bold slide__text">View my work</a>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__inner">
        <div class="slide__content">
          <h2 class="ft-white header-slider-title slide__heading">Holla.</h2>
          <p class="ft-white slide__text">I'm
            <span class="bold">John Doe</span>
            a Philippines-based
            <span class="bold">web</span>
            &
            <span class="bold">graphic</span>
            designer who creates clean and modern design for the world of web.
          </p>
          <a href="#" class="btn btn-black bold slide__text">View my work</a>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__inner">
        <div class="slide__content">
          <h2 class="ft-white header-slider-title slide__heading">Holla.</h2>
          <p class="ft-white slide__text">I'm
            <span class="bold">John Doe</span>
            a Philippines-based
            <span class="bold">web</span>
            &
            <span class="bold">graphic</span>
            designer who creates clean and modern design for the world of web.
          </p>
          <a href="#" class="btn btn-black bold slide__text">View my work</a>
        </div>
      </div>
    </div>
    <div class="slide s--prev">
      <div class="slide__inner">
        <div class="slide__content">
          <h2 class="ft-white header-slider-title slide__heading">Holla.</h2>
          <p class="ft-white slide__text">I'm
            <span class="bold">John Doe</span>
            a Philippines-based
            <span class="bold">web</span>
            &
            <span class="bold">graphic</span>
            designer who creates clean and modern design for the world of web.
          </p>
          <a href="#" class="btn btn-black bold slide__text">View my work</a>
        </div>
      </div>
    </div>
  </div>
  <!-- slides end -->
  <div class="slider__control">
    <div class="slider__control-line"></div>
    <div class="slider__control-line"></div>
  </div>
  <div class="slider__control slider__control--right m--right">
    <div class="slider__control-line"></div>
    <div class="slider__control-line"></div>
  </div>
</div>
