<section id="mainNavigation" class="header-navbar flex-container">
  <!-- Logo -->
  <span class="header-navbar-logo">
    <a href="#">
      <img alt="logo" src="assets/img/general/brand.png" />
    </a>
  </span>
    <!-- Main Navigation -->
  <nav id="nav" class="" >
    <ul class="navbar">
      <li class="nav-link"><a class="active" href="#header">Home</a></li>
      <li class="nav-link"><a href="#services">Services</a></li>
      <li class="nav-link"><a href="#portofolio">Portofolio</a></li>
      <li class="nav-link"><a href="#blog">Blog</a></li>
      <li class="nav-link"><a href="#footer">Hire Me</a></li>
    </ul>
  </nav>
</section>
