<!-- Section Footer -->
<section id="footer" class="flex-container center">
  <div class="footer-container">
    <footer>
      <section class="footer-section-header">
        <h2>Say <span>Hello.</span></h2>
        <p>I'd love to hear from you</p>
      </section>
      <section class="footer-section-social-banner">
        <ul class="social">
          <li class="square-ico"><span class= "social-ico  fas fa-envelope fa-3x"></span></li>
          <li class="square-ico"><span class="fb-center social-ico fab fa-facebook-f fa-3x"></span></li>
          <li class="square-ico"><span class="social-ico fab fa-twitter fa-3x"></span></li>
          <li class="square-ico"><span class="social-ico fab fa-instagram fa-3x"></span></li>
          <li class="square-ico"><span class="social-ico fab fa-dribbble fa-3x"></span></li>
        </ul>
      </section>

      <section class="footer-section-bottom">
        <p>©2018 <span>John Doe</span>. All Rights Reserved.</p>
      </section>
    </footer>
  </div>
</section>
