<!-- Section Portofolio -->
	 	<section id="portofolio" class="portofolio-section">
	 		<div class="portofolio-container">
		 		<article class="portofolio-info-card">
		 			<h2>1stwebdesigner</h2>
		 			<h3 class="portofolio-info-date">01 july 2013</h3>
		 			<p>
		 				Lorem Ipsum espectat non habiliti prescum. Priest gravita et norma quantificatum neat. Ideo precor, sem nominatis deat num percastur. Lorem ipsum ideam precat.
					</p>
					<h3 class="portofolio-info-subtitle">CLIENT</h3>
					<p>Dainis Graveris</p>
					<h3 class="portofolio-info-subtitle">ROLE</h3>
					<p>Designer</p>
					<h3 class="portofolio-info-subtitle">TOOLS</h3>
					<p class="portofolio-info-subtitle">Photoshop</p>
					<a href="#" class="btn btn-red bold">View Project</a>
		 		</article>
		 		<aside class="portofolio-media-container">
		 			<div class="portofolio-media-img">
			 			<span class="portofolio-media-img--base"><img src="assets/img/portofolio/gripOpener.png"></span>
			 			<span class="portofolio-media-img--bg"><img src="assets/img/portofolio/screen-bg.png"></span>
		 			</div>
		 		</aside>
	 		</div>
	 	</section>
